out
node_modules
**/*.vsix
npm-debug.log
tsc.log
.vscode/cSpell.json
.vscode-test/
coverage/
.nyc_output/
CHANGELOG.html
views/common/vis-network.min.*
views/common/codicon.*
src/test/tmpUserProfile/
src/test/tmpFolder/
