out
node_modules
**/*.vsix
npm-debug.log
tsc.log
.vscode/cSpell.json
.vscode-test/
coverage/
.nyc_output/
CHANGELOG.html
/views/searchview/out/*.js
/views/searchview/out-test/
src/test/tmpUserProfile/
src/test/tmpFolder/
views/planview/out-test/*
debug.log
