out
node_modules
**/*.vsix
npm-debug.log
tsc.log
.vscode/cSpell.json
.vscode-test/
coverage/
.nyc_output/
CHANGELOG.html
**/out-test/
src/test/tmpUserProfile/
src/test/tmpFolder/
debug.log
**/package-lock.json
