**/.vscode/**
typings/**
out/**/*.map
out/**/*.d.ts
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
*.cmd
.vscode-test/**
.vscodeignore
package-lock.json
**/.eslintrc.js
tsconfig.json
*.vsix
*.log
vsc-extension-quickstart.md
todo.md
coverage/
.nyc_output/
.github/
downloadVisJs.js
views/searchview/node_modules
views/searchview/out-test 
views/searchview/src
views/searchview/test 
views/searchview/tsconfig.json