**/.vscode/**
typings/**
out/**/*.map
out/**/*.d.ts
out/test/**
test/**
src/**
**/*.map
.gitignore
.gitkeep
tsconfig.json
*.cmd
.vscode-test/**
.vscodeignore
**/package-lock.json
**/.eslintrc.js
tsconfig.json
*.vsix
*.log
vsc-extension-quickstart.md
todo.md
coverage/
.nyc_output/
.github/
downloadVisJs.js

webpack.config.js
node_modules
views/.eslintrc.js

how_to_contribute.md

views/common/node_modules

views/searchview/node_modules
views/searchview/out-test 
views/searchview/src
views/searchview/test 
views/searchview/tsconfig.json

views/planview/node_modules
views/planview/out-test 
views/planview/src
views/planview/test 
views/planview/tsconfig.json
