body {
  font: 10pt sans;
  overflow: scroll; 
  margin: 0px;
  padding: 0px;
  border-top: 2px green;
  border-bottom: 2px green;
}

div#menu {
  position: fixed;
  top: 1px;
  right: 1px; 
}

img.menuButton {
  border: solid 1px transparent;
}

img.menuButton:hover {
  border-color: gray;
}

a.menuButton {
  border: solid 1px transparent;
  font: 16px sans;
  text-decoration: none;
  width: 30px;
  padding-left: 3px;
  padding-right: 3px;
}

a.menuButton:hover {
  border-color: gray;
}
