<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../common/baseWebview.js" type="text/javascript"></script>
    <script src="overview.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../modelView/baseView.css"></link>
    <link rel="stylesheet" type="text/css" href="overview.css"></link>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--CSP-->
    <title>AI Planning and PDDL support in VS Code</title>
</head>

<body onload="initialize()" class="vscode-light">
    <h1>AI Planning and PDDL support in VS Code</h1>

    <ul id="alertList" class="alertList">
        <li id="installIconsAlert" class="alert">Improve usability by installing the <a
                href="command:extension.open?%22vscode-icons-team.vscode-icons%22"
                title="Extension that brings clearer file icons.">VS Code Icons for PDDL files</a> to quickly
            distinguish PDDL files
            <button onclick="installIcons()">Install icons e.g.
                <img src="file_type_pddl.svg" class="fileIcon" title="Icon of domain and problem files." />
                <img src="file_type_pddl_plan.svg" class="fileIcon" title="Icon for plan files." />
                <img src="file_type_pddl_happenings.svg" class="fileIcon" title="Icon for happenings files." />
            </button>
        </li>
        <li id="enableIconsAlert" class="alert">Enable VS Code Icons extension to quickly distinguish PDDL files
            <button onclick="enableIcons()" class="button">Enable icons e.g.
                <img src="file_type_pddl.svg" class="fileIcon" title="Icon of domain and problem files." />
                <img src="file_type_pddl_plan.svg" class="fileIcon" title="Icon for plan files." />
                <img src="file_type_pddl_happenings.svg" class="fileIcon" title="Icon for happenings files." />
            </button>
        </li>
        <li id="enableAutoSaveAlert" class="alert">When processing files using command-line tools, it is simpler to enable file auto-saving. <a href="command:workbench.action.toggleAutoSave" class="button" style="width: 150px">Enable auto-save</a>
            <br />It is also recommended to go run the <i>Git: Initialize Repository</i> command to enjoy safety of
            version control and never miss a working version.
        </li>
        <li id="downloadValAlert" class="alert">Download the latest
            <a href="https://dev.azure.com/schlumberger/ai-planning-validation">build</a> of
            <a href="https://github.com/KCL-Planning/VAL">VAL tools</a> to get a PDDL parser, to be able to validate and
            evaluate plans.
            <a href="#" onclick="downloadValInformed()" class="button" style="width: 100px; text-align:center"
                title="Click to initiate download. You will be able to see what is being downloaded and from where...">Download</a>
            plan validation tools
        </li>
        <li id="updateValAlert" class="alert">New version of
            <a href="https://github.com/KCL-Planning/VAL">VAL tools</a> is available.
            Update to the latest version.
            <a href="#" onclick="downloadValInformed()" class="button" style="width: 100px; text-align:center"
            title="Click to initiate download..">Update VAL</a>
        </li>
        <!-- 
            todo: Add alert for enabling formatOnType
        "[pddl]": {
            "editor.formatOnType": true
        } -->
    </ul>

    <table style="width: 100%">
        <tr style="vertical-align: top">
            <td style="padding-right: 20px; white-space: nowrap">
                <h2>Getting started</h2>
                Try <a href="#" onclick="tryHelloWorld()"
                    title="Creates the simplest PDDL example, invokes the planner and displays the plan.">Hello
                    World</a> example<br />
                Generate <a href="#" onclick="openNunjucksSample()"
                    title="Creates a template-based problem file generation sample.">Nunjucks templated</a> problem file sample<br />
                <a href="https://github.com/jan-dolejsi/vscode-pddl-samples/">See</a> or <a href="#"
                    onclick="clonePddlSamples()" title="Select a local folder and samples will be downloaded.">clone
                    PDDL samples</a><br />

                <h2>
                    Configuration
                    <img src="../../images/light/settings-gear.svg" onclick="postCommand('command:pddl.settings')" theme="light" class="menuButton" title="See all PDDL Extension settings"/>
                    <img src="../../images/dark/settings-gear.svg" onclick="postCommand('command:pddl.settings')" theme="dark" class="menuButton" title="See all PDDL Extension settings"/>
                </h2>
                <h3>
                    Planning engine
                    <img src="../../images/light/json.svg" onclick="postCommand('command:pddl.plannersJsonSettings')" theme="light" class="menuButton" title="See advanced configuration in JSON settings file..."/>
                    <img src="../../images/dark/json.svg" onclick="postCommand('command:pddl.plannersJsonSettings')" theme="dark" class="menuButton" title="See advanced configuration in JSON settings file..."/>
                    <img src="../../images/light/add.svg" onclick="postCommand('command:pddl.addPlanner')" theme="light" class="menuButton" title="Add a PDDL Planner..."/>
                    <img src="../../images/dark/add.svg" onclick="postCommand('command:pddl.addPlanner')" theme="dark" class="menuButton" title="Add a PDDL Planner..."/>
                </h3>
                <table id="planners">
                    <tr>
                        <td class="plannerLabel">
                            <input type="radio" checked="false" id="planner0" name="planner"/>
                            <label for="planner0">http://solver.planning.domains/solve</label>
                        </td>
                        <td></td>
                        <td class="plannerConfig">
                            <img src="../../images/light/gear.svg" onclick="configurePlanner(0)" theme="light" class="menuButton"/>
                            <img src="../../images/dark/gear.svg" onclick="configurePlanner(0)" theme="dark" class="menuButton"/>
                            <img src="../../images/light/trash.svg" onclick="deletePlanner(0)" theme="light" class="menuButton"/>
                            <img src="../../images/dark/trash.svg" onclick="deletePlanner(0)" theme="dark" class="menuButton"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" checked="false" id="planner1" name="planner"/>
                            <label for="planner1">Java</label>
                        </td>
                        <!-- <input type="text" id="planner" class="config" readonly /> -->
                        <td></td>
                        <td>
                            <img src="../../images/light/gear.svg" onclick="configurePlanner(1)" theme="light" class="menuButton"/>
                            <img src="../../images/dark/gear.svg" onclick="configurePlanner(1)" theme="dark" class="menuButton"/>
                            <img src="../../images/light/trash.svg" onclick="deletePlanner(1)" theme="light" class="menuButton"/>
                            <img src="../../images/dark/trash.svg" onclick="deletePlanner(1)" theme="dark" class="menuButton"/>
                        </td>
                    </tr>
                </table>
                
                <div id="plannerConfigurationError">Planner configuration error: 
                    <span id="plannerConfigurationErrorMessage"></span>. 
                    <a href="command:pddl.plannersJsonSettings">Fix it.</a></div> 

                <div style="margin-top: 10px">
                Read <a href="https://github.com/jan-dolejsi/vscode-pddl/wiki/Configuring-the-PDDL-planner">more info
                    about PDDL planners</a>
                </div>
                <form action="#" onchange="return onPlannerOutputTargetChanged();" style="margin-top: 10px">Output into
                    <input type="radio" name="planner_output_target" value="Output window"
                        id="planner_output_target_output_window" />
                    <label for="planner_output_target_output_window">Output window</label>
                    <input type="radio" name="planner_output_target" value="Terminal" title="Does not visualize plans!"
                        id="planner_output_target_terminal" />
                    <label for="planner_output_target_terminal">Terminal</label>
                    <input type="radio" name="planner_output_target" value="Search debugger"
                        title="Keeps Search debugger in the forefront." id="planner_output_target_search_debugger" />
                    <label for="planner_output_target_search_debugger">Search debugger</label>
                </form>

                <h3>PDDL parser</h3>
                <input type="text" id="parser" class="config" readonly />
                <img src="../../images/light/settings-gear.svg" onclick="postCommand('command:pddl.configureParser')" theme="light" class="menuButton" title="Configure PDDL parser..."/>
                <img src="../../images/dark/settings-gear.svg" onclick="postCommand('command:pddl.configureParser')" theme="dark" class="menuButton" title="Configure PDDL parser..."/>
                <br />
                See <a href="https://github.com/jan-dolejsi/vscode-pddl/wiki/Configuring-the-PDDL-parser">more info
                    about PDDL parsers</a>

                <h3>Plan Validator</h3>
                <input type="text" id="validator" class="config" readonly />
                <img src="../../images/light/settings-gear.svg" onclick="postCommand('command:pddl.configureValidate')" theme="light" class="menuButton" title="Configure Plan Validator..."/>
                <img src="../../images/dark/settings-gear.svg" onclick="postCommand('command:pddl.configureValidate')" theme="dark" class="menuButton" title="Configure Plan Validator..."/>
                <br />
                        Clone and compile <a href="https://github.com/KCL-Planning/VAL">VAL from GitHub</a> or...<br/>
                        <a href="command:pddl.downloadVal"
                    title="Click to initiate download. You will be able to see what is being downloaded and from where...">Download</a>
                plan validation tools
            </td>
            <td style="white-space: nowrap">
                <h2>Resources</h2>
                <img src="youtube-seeklogo.com.svg" style="height: 10px"/> YouTube <a href="https://youtu.be/XW0z8Oik6G8">Hands-on PDDL channel</a> <br />
                <a href="http://education.planning.domains/">Education.planning.domains</a><br />
                Explore <a href="command:pddl.planning.domains.focus"
                    title="Open explorer tree with the Planning.domains PDDL collection.">Planning.domains</a> PDDL
                examples<br />
                <img src="stackoverflow-com-logo-png-transparent.png" style="height: 10px"/> <a href="https://stackoverflow.com/questions/tagged/pddl">Ask a question on Stackoverflow</a><br />
                <a href="https://planning.wiki/">PDDL Reference</a><br />
                <img src="slack-technologies-seeklogo.com.svg" style="height: 10px"/> <a href="https://planning.wiki/slack">Slack community</a> <br />
                <a href="https://github.com/jan-dolejsi/vscode-pddl/blob/master/client/README.md">All features of PDDL
                    support in VS Code</a><br />
                <a href="https://github.com/jan-dolejsi/vscode-pddl/blob/master/client/CHANGELOG.md">What's new in PDDL
                    support</a>

                <h2>Getting more productive</h2>
                <a href="command:extension.open?%22vscode-icons-team.vscode-icons%22"
                    title="Install this extension to get better file icons.">VS Code Icons for PDDL files</a> e.g.
                <img src="file_type_pddl.svg" class="fileIcon" title="Icon of domain and problem files." />
                <img src="file_type_pddl_plan.svg" class="fileIcon" title="Icon for plan files." />
                <img src="file_type_pddl_happenings.svg" class="fileIcon" title="Icon for happenings files." />
                </br>
                <a href="command:extension.open?%22joaompinto.vscode-graphviz%22"
                    title="... if your planner outputs search graphs in .dot format.">GraphViz support</a><br />

                <a href="https://github.com/jan-dolejsi/vscode-pddl/wiki/Keyboard-shortcuts"
                    title="Bookmark or print...">Keyboard shortcuts</a>

                <h2>Giving feedback</h2>
                <a href="https://github.com/jan-dolejsi/vscode-pddl/issues">Submit an issue</a><br />
                <a href="https://marketplace.visualstudio.com/items?itemName=jan-dolejsi.pddl#review-details">Write a
                    review</a>
            </td>
        </tr>
    </table>
    <br />
    <input id="shouldShowOverview" type="checkbox" checked onchange="shouldShowOverviewChanged(this.checked)">Show
    overview page when using PDDL</input>
    <div id="howToShowOverviewPage" class="hint"><br />Use the <b>PDDL: Show overview page</b> command to display this
        page again.</div>
</body>

</html>