<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../common/baseWebview.js" type="text/javascript"></script>
    <script src="overview.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../modelView/static/baseView.css"></link>
    <link rel="stylesheet" type="text/css" href="overview.css"></link>
    <link rel="stylesheet" type="text/css" href="../common/codicon.css"></link>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSP -->
    <title>AI Planning and PDDL support in VS Code</title>
</head>

<body onload="initialize()">
    <h1>AI Planning and PDDL support in VS Code</h1>

    <table id="alertList" class="alertList">
        <tr id="installIconsAlert" class="alert">
            <td><i class="codicon codicon-bell-dot"></i></td>
            <td>Improve usability by installing the <a href="command:extension.open?%22vscode-icons-team.vscode-icons%22"
                    title="Extension that brings clearer file icons.">VS Code Icons for PDDL files</a> to quickly
                distinguish PDDL files
                <button onclick="installIcons()">Install icons e.g.
                    <img src="file_type_pddl.svg" class="fileIcon" title="Icon of domain and problem files." />
                    <img src="file_type_pddl_plan.svg" class="fileIcon" title="Icon for plan files." />
                    <img src="file_type_pddl_happenings.svg" class="fileIcon" title="Icon for happenings files." />
                </button>
            </td>
        </tr>
        <tr id="enableIconsAlert" class="alert">
            <td><i class="codicon codicon-bell-dot"></i></td>
            <td>Enable VS Code Icons extension to quickly distinguish PDDL files
                <button onclick="enableIcons()">Enable icons e.g.
                    <img src="file_type_pddl.svg" class="fileIcon" title="Icon of domain and problem files." />
                    <img src="file_type_pddl_plan.svg" class="fileIcon" title="Icon for plan files." />
                    <img src="file_type_pddl_happenings.svg" class="fileIcon" title="Icon for happenings files." />
                </button>
            </td>
        </tr>
        <tr id="enableAutoSaveAlert" class="alert">
            <td><i class="codicon codicon-bell-dot"></i></td>
            <td>When processing files using command-line tools, it is simpler to enable file auto-saving.
                <button onclick="location.href='command:workbench.action.toggleAutoSave'" class="alertButton" style="width: 150px">Enable auto-save</button>
                <br />It is also recommended to go run the <i>Git: Initialize Repository</i> command to enjoy safety of
                version control and never miss a working version.
            </td>
        </tr>
        <tr id="downloadValAlert" class="alert">
            <td><i class="codicon codicon-bell-dot"></i></td>
            <td>Download the latest
                <a href="https://dev.azure.com/schlumberger/ai-planning-validation">build</a> of
                <a href="https://github.com/KCL-Planning/VAL">VAL tools</a> to get a PDDL parser, to be able to validate and
                evaluate plans.
                <button onclick="downloadValInformed(this)" class="alertButton"
                    title="Click to initiate download. You will be able to see what is being downloaded and from where...">Download</button>
                plan validation tools
            </td>
        </tr>
        <tr id="updateValAlert" class="alert">
            <td><i class="codicon codicon-bell-dot"></i></td>
            <td>New version of
                <a href="https://github.com/KCL-Planning/VAL">VAL tools</a> is available.
                Update to the latest version.
                <button onclick="downloadValInformed(this)" class="alertButton"
                    title="Click to initiate download..">Update VAL</button>
            </td>
        </tr>
        <tr id="enableFormatterAlert" class="alert">
            <td><i class="codicon codicon-bell-dot"></i></td>
            <td>Enable on-type formatter to save time and make your models readable without wasting time formatting whitespace.
                <button onclick="enableFormatOnType()" class="alertButton" title="Enable on-type formatting for all languages in VS Code">Enable On-Type Formatter</button>
                <button onclick="enableFormatOnTypeForPddlOnly()" title="Enable on-type formatting for PDDL only." class="alertButton">...for PDDL only</button>
                    <br/>
                You can switch it off again using the <snap class="code">editor.formatOnType</snap> setting. 
            </td>
        </tr>
    </table>

    <table id="hintList" class="hintList" style="margin-top: -3px;">
        <tr class="hint" id="hint">
            <td><i class="codicon codicon-info"></i></td>
            <td><div id="hintText">Did you know that <span class="keyboard">Ctrl</span> + <span class="keyboard">/</span> comments out the current line? Press it again to un-comment it.</div>
                <div style="text-align: right;">
                    <button id="hintOk">OK, got it.</button>
                    <button id="hintLater">Remind me later.</button>
                    <button id="hintNext">Show next tip...</button>
                </div>
            </td>
        </tr>
        <tr class="hint" id="feedback">
            <td><i class="codicon codicon-feedback"></i></td>
            <td>
                Are you finding the PDDL Extension useful? Do you want to boost our motivation? Please give us (5) stars or even write a review...
                <div style="text-align: right;">
                    <button id="feedbackAccepted">OK, let's give feedback</button>
                    <button id="feedbackLater">Remind me later</button>
                    <button id="feedbackNever">Never</button>
                </div>
            </td>
        </tr>
    </table>

    <table style="width: 100%">
        <tr style="vertical-align: top">
            <td style="padding-right: 20px; white-space: nowrap">
                <h2>Getting started</h2>
                Try <a href="#" onclick="tryHelloWorld()"
                    title="Creates the simplest PDDL example, invokes the planner and displays the plan.">Hello
                    World</a> example<br />
                Generate <a href="#" onclick="openNunjucksSample()"
                    title="Creates a template-based problem file generation sample.">Nunjucks templated</a> problem file sample<br />
                <a href="https://github.com/jan-dolejsi/vscode-pddl-samples/">See</a> or <a href="#"
                    onclick="clonePddlSamples()" title="Select a local folder and samples will be downloaded.">clone
                    PDDL samples</a><br />

                <h2>
                    Configuration
                    <i id="settings" class="codicon codicon-settings-gear" style="font-size: large;" title="See all PDDL Extension settings"></i>
                    <i id="settingsProgress" class="codicon codicon-loading codicon-animation-spin" style="font-size: large;"></i>
                </h2>
                <div id="workspaceFoldersDiv">
                    <label for="workspaceFolders">Workspace folder:</label>
                    <select id="workspaceFolders">
                        <option label="wf1" selected value="file:///asdf/folders/wf1"/>
                    </select>
                </div>
                <h3>
                    Planning engine
                    <i id="plannersJsonSettings" class="codicon codicon-json" title="See advanced configuration in JSON settings file..."></i>
                    <i id="addPlanner" class="codicon codicon-add" title="Add a PDDL Planner..."></i>
                </h3>
                <table id="planners">
                    <tr>
                        <td class="plannerLabel">
                            <input type="radio" checked="false" id="planner0" name="planner"/>
                            <label for="planner0">http://solver.planning.domains/solve</label>
                        </td>
                        <td></td>
                        <td class="plannerConfig">
                            <i class="codicon codicon-gear" onclick="configurePlanner(0)" title="Re-configure..."></i>
                            <i class="codicon codicon-trash" onclick="deletePlanner(0)" title="Remove"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" checked="false" id="planner1" name="planner"/>
                            <label for="planner1">Java</label>
                        </td>
                        <!-- <input type="text" id="planner" class="config" readonly /> -->
                        <td></td>
                        <td>
                            <i class="codicon codicon-gear" onclick="configurePlanner(1)" title="Re-configure..."></i>
                            <i class="codicon codicon-trash" onclick="deletePlanner(1)" title="Remove"></i>
                        </td>
                    </tr>
                </table>
                
                <div id="plannerConfigurationError">Planner configuration error: 
                    <span id="plannerConfigurationErrorMessage"></span>. 
                    <a href="command:pddl.plannersJsonSettings">Fix it.</a></div> 

                <div style="margin-top: 10px">
                Read <a href="https://github.com/jan-dolejsi/vscode-pddl/wiki/Configuring-the-PDDL-planner">more info
                    about PDDL planners</a>
                </div>
                <form action="#" onchange="return onPlannerOutputTargetChanged();" style="margin-top: 10px">Output into
                    <input type="radio" name="planner_output_target" value="Output window"
                        id="planner_output_target_output_window" />
                    <label for="planner_output_target_output_window">Output window</label>
                    <input type="radio" name="planner_output_target" value="Terminal" title="Does not visualize plans!"
                        id="planner_output_target_terminal" />
                    <label for="planner_output_target_terminal">Terminal</label>
                    <input type="radio" name="planner_output_target" value="Search debugger"
                        title="Keeps Search debugger in the forefront." id="planner_output_target_search_debugger" />
                    <label for="planner_output_target_search_debugger">Search debugger</label>
                </form>

                <h3>PDDL parser</h3>
                <input type="text" id="parser" class="config" readonly />
                <i id="configureParser" class="codicon codicon-settings-gear" style="vertical-align: text-bottom;" title="Configure PDDL parser..."></i>
                <br />
                See <a href="https://github.com/jan-dolejsi/vscode-pddl/wiki/Configuring-the-PDDL-parser">more info
                    about PDDL parsers</a>

                <h3>Plan Validator</h3>
                <input type="text" id="validator" class="config" readonly />
                <i id="configureValidate" class="codicon codicon-settings-gear" style="vertical-align: text-bottom;" title="Configure Plan Validator..."></i>
                <br />
                        Clone and compile <a href="https://github.com/KCL-Planning/VAL">VAL from GitHub</a> or...<br/>
                        <a href="command:pddl.downloadVal"
                    title="Click to initiate download. You will be able to see what is being downloaded and from where...">Download</a>
                plan validation tools
            </td>
            <td style="white-space: nowrap">
                <h2>Resources</h2>
                <img src="youtube-seeklogo.com.svg" style="height: 10px"/> YouTube <a href="https://youtu.be/XW0z8Oik6G8">Hands-on PDDL channel</a> <br />
                <a href="http://education.planning.domains/">Education.planning.domains</a><br />
                Explore <a href="command:pddl.planning.domains.focus"
                    title="Open explorer tree with the Planning.domains PDDL collection.">Planning.domains</a> PDDL
                examples<br />
                <img src="stackoverflow-com-logo-png-transparent.png" style="height: 10px"/> <a href="https://stackoverflow.com/questions/tagged/pddl">Ask a question on Stackoverflow</a><br />
                <a href="https://planning.wiki/">PDDL Reference</a><br />
                <img src="slack-technologies-seeklogo.com.svg" style="height: 10px"/> <a href="https://planning.wiki/slack">Slack community</a> <br />
                <a href="https://github.com/jan-dolejsi/vscode-pddl/blob/master/README.md">All features of PDDL
                    support in VS Code</a><br />
                <a href="https://github.com/jan-dolejsi/vscode-pddl/blob/master/CHANGELOG.md">What's new in PDDL
                    support</a>

                <h2>Getting more productive</h2>
                <a href="command:extension.open?%22vscode-icons-team.vscode-icons%22"
                    title="Install this extension to get better file icons.">VS Code Icons for PDDL files</a> e.g.
                <img src="file_type_pddl.svg" class="fileIcon" title="Icon of domain and problem files." />
                <img src="file_type_pddl_plan.svg" class="fileIcon" title="Icon for plan files." />
                <img src="file_type_pddl_happenings.svg" class="fileIcon" title="Icon for happenings files." />
                </br>
                <a href="command:extension.open?%22joaompinto.vscode-graphviz%22"
                    title="... if your planner outputs search graphs in .dot format.">GraphViz support</a><br />

                <a href="https://github.com/jan-dolejsi/vscode-pddl/wiki/Keyboard-shortcuts"
                    title="Bookmark or print...">Keyboard shortcuts</a>

                <h2>Giving feedback</h2>
                <a href="https://github.com/jan-dolejsi/vscode-pddl/issues">Submit an issue</a><br />
                <a href="https://marketplace.visualstudio.com/items?itemName=jan-dolejsi.pddl#review-details">Write a
                    review</a>
            </td>
        </tr>
    </table>
    <br />
    <input id="shouldShowOverview" type="checkbox" checked onchange="shouldShowOverviewChanged(this.checked)">Show
    overview page when using PDDL</input>
    <div id="howToShowOverviewPage" class="hint"><br />Use the <b>PDDL: Show overview page</b> command to display this
        page again.</div>
</body>

</html>