p, div, h1, h2, h3 {
    font-weight: 400
}
img.fileIcon {width: 18px; vertical-align: text-bottom;}
input.config {
    height: 16px;
    min-width: 270px;
    max-width: 600px;
    border: 1px solid #ddd;
}
i.codicon {
    cursor: pointer;
}

table#planners {
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid rgba(125, 125, 125, .3);
    min-width: 270px;
    max-width: 600px;
}

table#planners > tr:nth-child(odd) { 
    background-color: rgba(125, 125, 125, .1);
}

table#planners > tr { 
    line-height: 150%;
}

td.plannerLabel {
    text-overflow: ellipsis;
    max-width: 300px;
    overflow: hidden;
}

td.plannerConfig {
    text-align: right;
}

div#plannerConfigurationError {
    color: red;
    padding-top: 3px;
}

span#plannerConfigurationErrorMessage {
    font-weight: bold;
    text-overflow: ellipsis;
    max-width: 150px;
    overflow: hidden;
}

div.hint {
    color: gray
}
table.alertList {
    background-color: lightyellow;
    width: 105%;
    padding: 5px 25px 5px 25px;
    margin: 3px -19px;
    border-top-style: dashed;
    border-top-width: 2px;
    border-top-color: lightgray;

    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-bottom-color: lightgray;

    color: black;
}
tr.alert > td:nth-child(1) {
    padding-right: 10px;
    /* text-indent: 0em; */
    margin: 5px;
}
button.alertButton {
    text-align: center;
}
snap.code {
    font-family: monospace;
}

table.hintList {
    background: rgba(125, 125, 125, .3);
    width: 105%;
    padding: 5px 25px 5px 25px;
    margin-top: -3px;
    margin: 3px -19px;
    border-top-style: dashed;
    border-top-width: 2px;
    border-top-color: lightgray;

    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-bottom-color: lightgray;
}

tr.hint > td:nth-child(1) {
    padding-right: 10px;
    /* text-indent: 0em; */
    margin: 5px;
    vertical-align: text-top;
}

tr.hint > td:nth-child(2) {
    width: 100%;
}

span.keyboard {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(125, 125, 125, .5);
    padding: 0 3px 0 3px;
    background-color: rgb(125, 125, 125, .2);
}

/* Rotating the 'loading' Codicon to indicate _progress_. 
Same implementation as what VS Code is using in the user interface.
https://github.com/microsoft/vscode/blob/master/src/vs/base/browser/ui/codicons/codicon/codicon-animations.css
*/
@keyframes codicon-spin {
	100% {
		transform:rotate(360deg);
	}
}

.codicon-animation-spin {
	/* Use steps to throttle FPS to reduce CPU usage */
	animation: codicon-spin 1.5s steps(30) infinite;
}