p, div, h1, h2, h3 {
    font-weight: 400
}
img.fileIcon {width: 18px; vertical-align: text-bottom;}
img.configIcon {vertical-align: text-bottom;}
input.config {
    height: 16px;
    min-width: 270px;
    max-width: 600px;
    border: 1px solid #ddd;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

    height: 22px;
    width: 22px;
    vertical-align: inherit;
    margin-left: 3px;
    text-align: center;
}
img.menuButton {
    /* height: 16px; */
    margin-left: 5px;
}

table#planners {
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid rgba(125, 125, 125, .3);
    min-width: 270px;
    max-width: 600px;
}

table#planners > tr:nth-child(odd) { 
    background-color: rgba(125, 125, 125, .1);
}

table#planners > tr { 
    line-height: 150%;
}

td.plannerLabel {
    text-overflow: ellipsis;
    max-width: 300px;
    overflow: hidden;
}

td.plannerConfig {
    text-align: right;
}

div#plannerConfigurationError {
    color: red;
    padding-top: 3px;
}

span#plannerConfigurationErrorMessage {
    font-weight: bold;
    text-overflow: ellipsis;
    max-width: 150px;
    overflow: hidden;
}

div.hint {
    color: gray
}
ul.alertList {
    background-color: lightyellow;
    width: 100%;
    padding: 5px 25px 5px 25px;
    margin: 3px -19px;
    border-top-style: dashed;
    border-top-width: 2px;
    border-top-color: lightgray;

    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-bottom-color: lightgray;

    color: black;

    list-style: none;
}
li.alert {
    padding-left: 1.5em;
    text-indent: -1.5em;
    margin: 5px;
}

li.alert:before {
    content: "🕭";
    padding-right: 10px;
}
