<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search View</title>
    <script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
    <script src="../../common/baseWebview.js" type="text/javascript"></script>
    <script src="../../common/node_modules/vis-network/dist/vis-network.min.js" type="text/javascript"></script>
    <script defer src="../out/search.js" type="text/javascript"></script>
    <link href="../../common/node_modules/vis-network/styles/vis-network.min.css" rel="stylesheet" type="text/css"></link>
    <link href="../../common/codicon.css" rel="stylesheet" type="text/css"></link>
    <link href="../../common/pddl-gantt.css" rel="stylesheet" type="text/css"></link>
    <link href="search.css" rel="stylesheet" type="text/css"></link>
        
    <!-- CSP -->
</head>
<body">
    <div style="float: right" class=iconBar>
        <i id="restartDebuggerButton" class="codicon codicon-refresh" title="Clear debugger view and re-start search engine listener."></i>
        <i id="startDebuggerButton" class="codicon codicon-record" title="Search engine listener is not running. Click here to start it." ></i>
        <i id="stopDebuggerButton" class="codicon disabled codicon-stop-circle" title="Search engine listener is running. Click here to stop it." ></i>
        <i id="toggleStateLogButton" class="codicon codicon-output" title="Open and synchronize navigation through state log file."></i>
    </div>

    <div class="left">
        <div id="mockMenu" style="visibility: collapse;">
            <button id="addMock">Add</button>
            <button id="setVisitedOrWorseMock">Kill</button>
            <button id="evaluateMock">Evaluate</button>
            <button id="deadEndMock">Dead-end</button>
            <button id="planMock">Plan</button>
            <button id="clearStatesMock">Clear</button>
        </div>
        <div id="chart_div"></div>
        <div id="network" style="overflow: scroll"></div>
        <div class="help">⌨: Press <b>← → ↑ ↓</b> to navigate the tree, <b>Shift</b> + <b>← →</b> to navigate graph, <b>0-9</b> to select state by "O: " value<br/>
            Change shape: <b>b</b>: box, <b>d</b>: diamond, <b>s</b>: star, <b>t</b>: triangle, <b>h</b>: hexagon, <b>q</b>: square, <b>e</b>: ellipse (default)<br/>
            <b>f</b>: toggle auto-fitting tree, <b>F</b>: fit tree
        </div>
    </div>
    <div class="right">
        <div id="statePlan" style="overflow-x: scroll; width: 100%"></div>
        <div class="help">Legend: <br/>
            <table>
                <tr><td><div class="planstep-bar" style="width: 15px; height: 15px; white-space: nowrap"></div></td><td> plan-head action, </td></tr>
                <tr><td>▶</td><td>helpful action(s),</td></tr>
                <tr><td><div class="planstep-bar-relaxed whitecarbon" style="width: 15px"></div></td><td>relaxed plan action.</td></tr>
            </table>
        </div>
    </div>
</body>
</html>