<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../common/node_modules/vis-network/dist/vis-network.min.js" type="text/javascript"></script>
    <script src="../../common/baseWebview.js" type="text/javascript"></script>
    <script defer src="../out/problemInitView.js"></script>
    <link rel="stylesheet" type="text/css" href="baseView.css"></link>
    <link rel="stylesheet" type="text/css" href="problemInitView.css"></link>
    <link rel="stylesheet" type="text/css" href="../../common/codicon.css"></link>
    <link href="../../common/node_modules/vis-network/styles/vis-network.min.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSP -->
    <title>AI Planning problem viewer for VS Code</title>
</head>

<body>
    <div id="customView"></div>
    <div id="scalarValues"></div>
    <div id="objectProperties"></div>
    <div id="relationships"></div>
    <div class="hint">Warning: Timed Initial Literals and Fluents are not supported yet.</div>
    <div id="networkSection">
        <table class="menuBar">
            <tr><td class="menuBarCell">
                <i class="codicon codicon-move" id="fit" title="Fit all nodes"></i>
            </td></tr>
        </table>
        <div id="network"></div>
    </div>
    <div id="menu">
        <span>
        </span>
        <span id="insetMenu">
            <i class="codicon codicon-chevron-down" id="expandInset" title="Expand this view vertically"></i>
            <i class="codicon codicon-close" id="closeInset" title="Close this view"></i>
        </span>
    </div>
</body>

