html, 
body {
    height: 100%;
}

div#menu {
  position: fixed;
  top: 3px;
  right: 1em; 
}

img.menuButton {
  border: solid 1px transparent;
  vertical-align: baseline;
  cursor: pointer;
}

img.menuButton:hover {
  border-color: gray;
}

div.separator {
  background-color: lightblue;
  width: 100%;
  height: 2px;
  position:fixed;
}

table.menuBar {
  border-top: 2px solid lightblue;
  border-bottom: 2px solid lightblue;
  text-align: left;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

td.menuBarCell {
  text-align: right;
  padding-right: 1em;
  border: none;
}

i.codicon {
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
  border: solid 1px transparent;
  font: 16px sans;
}
i.codicon:hover {
  border-color: gray;
}
