div.gantt {
    position: relative;
}
div.planstep {
    position: absolute;
    white-space: pre;
    display: inline-flex;
    font-family: sans-serif;
    align-items: center;
}

div.planstep-bar {
    background-color: darkgray;
    height: 15px;
    margin: 3px;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 1px;
}

div.planstep-bar-relaxed {
    background-color: darkgray;
    height: 15px;
    margin: 3px;
    margin-left: 0px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
.planSelector {
    margin: 3px;
    width: 50px;
    text-align: center;
    padding: 1px;
    border: transparent 2px solid;
    font-family: sans-serif;
}
.planSelector-selected {
    border: 2px solid lightgray;
}
.planSelector:hover {
    border: 2px solid darkgray;
}
.planMetricBar {
    background-color: lightgreen;
}
.planSelectors {
    margin: 5px; 
    display: flex;
    align-items: flex-end;
    overflow: auto;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
}

td.objectName {
    vertical-align: baseline;
}

th.actionToolTip, td.actionToolTip {
    border-bottom-style: none;
}
/* https://iros.github.io/patternfills/sample_css.html */
.whitecarbon { background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNicgaGVpZ2h0PSc2Jz4KICA8cmVjdCB3aWR0aD0nNicgaGVpZ2h0PSc2JyBmaWxsPScjZWVlZWVlJy8+CiAgPGcgaWQ9J2MnPgogICAgPHJlY3Qgd2lkdGg9JzMnIGhlaWdodD0nMycgZmlsbD0nI2U2ZTZlNicvPgogICAgPHJlY3QgeT0nMScgd2lkdGg9JzMnIGhlaWdodD0nMicgZmlsbD0nI2Q4ZDhkOCcvPgogIDwvZz4KICA8dXNlIHhsaW5rOmhyZWY9JyNjJyB4PSczJyB5PSczJy8+Cjwvc3ZnPg=="); background-repeat: repeat; }